<div class="page-header">
    <h1>Poll List</h1>
</div>
<div class="row">
    <div class="col-xs-5">
        <a href="#/polls/{{room}}/new" class="btn btn-default" role="button">Create Your Poll</a>
    </div>
    <div class="col-xs-7">
        <input type="text" class="form-control" ng-model="query" placeholder="Search for a poll">
    </div>
</div>
<div class="row" ng-switch on="polls.length">
    <ul ng-switch-when="0">
        <li><em>No polls in databases. Would you like to <a href="#/new">create one</a>?</li>
	</ul>
	<table class="table table-striped" ng-switch-default>
        <tr>
            <td>Question</td>
            <td>Create Time</td>
        </tr>
		<tr ng-repeat="poll in polls | filter:query">
            <td><a href="#/polls/{{room}}/{{poll._id}}">{{poll.question}}</a></td>
            <td>{{poll.createdAt}}</td>
		</tr>
	</table>
</div>
<p>&nbsp;</p>