<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <title>History</title>
  </head>
  <body>
  	<button onclick="window.history.back()">Back to chat</button>
    <ul>
  		<% messages.forEach(function(message) { %>
  			<li> <%= message.createAt %> - <%= message.username %> : <%= message.message %></li>
  		<% }); %>
  	</ul>
  </body>
</html>
