<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>

    <title>Online Chat</title>
    <link href="emoji/css/nanoscroller.css" rel="stylesheet">
    <link href="emoji/css/emoji.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>

  <body>
	
	<div class="chatArea">
	  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#topFive">Top Five Likes</button>
	  <ul id="topFive" class="topFive collapse"></ul>
	  <h2>Chating Message</h2>
	  <a class="historyBtn" href="./history/<%= historyLink %>">Chating History</a>
	  <ul class="messages"></ul>
	</div>
	
	<input class="inputMessage" data-emojiable="true" placeholder="Type here..."/>
	<!--<button class="messageSubmit">Send</button>-->

    <script src="emoji/js/nanoscroller.min.js"></script>
    <script src="emoji/js/tether.min.js"></script>
    <script src="emoji/js/config.js"></script>
    <script src="emoji/js/util.js"></script>
    <script src="emoji/js/jquery.emojiarea.js"></script>
    <script src="emoji/js/emoji-picker.js"></script> 

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script> 
  </body>

  
</html>
