<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>

    <title>Online Chat</title>
    <link href="emoji/css/nanoscroller.css" rel="stylesheet">
    <link href="emoji/css/emoji.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <script type="text/javascript" src="/javascripts/FBlogin.js"></script>
  	<div class="FBlogin">
  	  <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true" onlogin="checkLoginState();" ></div>
      <div class="FBloginNote">Please login to chat</div>
  	</div>

  	
  	<div class="chatArea">
  	  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#topFive">Top Five Likes</button>
  	  <ul id="topFive" class="topFive collapse"></ul>
  	  <h2>Chating Message</h2>
      <div class="alertContainner"></div>
  	  <a class="historyBtn" href="./history/<%= historyLink %>">Chating History</a>
  	  <ul class="messages"></ul>
  	</div>

    <div class="checkbox">
      <label><input type="checkbox" class="anonymousCheckbox" value="">Anonymous</label>
    </div>

    <div class="fb-share-button" data-href="http://54.213.44.54:3000/" data-layout="button_count" data-size="small" data-mobile-iframe="true">
    	<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F54.213.44.54%3A3000%2F&amp;src=sdkpreparse">Share</a>
    </div>

    <input class="inputMessage" data-emojiable="true" placeholder="Type here..." disabled />
    <!--<button class="messageSubmit">Send</button>-->

    <script src="emoji/js/nanoscroller.min.js"></script>
    <script src="emoji/js/tether.min.js"></script>
    <script src="emoji/js/config.js"></script>
    <script src="emoji/js/util.js"></script>
    <script src="emoji/js/jquery.emojiarea.js"></script>
    <script src="emoji/js/emoji-picker.js"></script> 

    <script type="text/javascript" src="/javascripts/client.js"></script> 
  </body>

  
</html>
