<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>

    <title>Online Chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> 

 </head>

  <body>

    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="chatArea">
            <h2>Chating Message</h2>
            <a class="historyBtn" href="./history/<%= historyLink %>">Chating History</a>
            <ul class="messages"></ul>
          </div>
          <input class="inputMessage" placeholder="Type here..."/>
          <button class="messageSubmit">Send</button>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>

  </body>

  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/client.js"></script> 
</html>
