<meta charset='utf-8'>
<meta name='viewport', content='width=device-width, initial-scale=1, user-scalable=no'>
<title>Chrome Chat</title>	
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js'></script>
<script src='bower_components/angular-route/angular-route.js'></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
<script src='bower_components/angular-easyfb/src/angular-easyfb.js'></script>
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
<script src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
<script src='/socket.io/socket.io.js'></script>
<script src='/javascripts/app.js'></script>
<script src='/javascripts/services.js'></script>
<script src='/javascripts/controllers.js'></script>
<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />