<!DOCTYPE html>
<html lang="en" ng-app='chatApp'>
	<head>
		<% include ./header %>
	</head>

	<body>
		<div ng-include="'partials/nav.html'" ng-controller="NavbarCtrl">
			
		</div>
		<div class="container" ng-view></div>
	</body>
</html>
