<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' /> 

 </head>

  <body>

    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="chatArea">
<h2>BSC</h2>            
<ul class="messages"></ul>
          </div>
          <input class="inputMessage" placeholder="Type here..."/>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>

  </body>

  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/client.js"></script> 
</html>
